<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/POST" method="post">
        <input autocomplete="off" type="text" placeholder="username" name="username">
        <input autocomplete="off" type="email" placeholder="email" name="email">
        <input autocomplete="off" type="password" placeholder="Password" name="password">
        <button type="submit">Log in</button>

    </form>

</body>

</html>